@import '../../styles//utils/all.scss';

.title {
    position: absolute;
    top: -20%;
}

.wrapper {
    max-width: $mainMaxWidth;
    width: 100%;
    margin: 0 auto;

    background-color: $cardBg;

    padding: 16px 25px;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    box-shadow: -8px -8px 20px 0px rgba(255, 255, 255, 0.05),
    16px 16px 20px 0px rgba(0, 0, 0, 0.15);

    position: relative;

    &.open {
        margin-top: 5%;
    }

    &.closed {
        height: 80px;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        padding-top: 0;
        padding-bottom: 0;

        border-radius: 25px;

        h2 {
            margin-left: 25px;
            font-size: 24px;

            font-family: Abhaya Libre;
        }

        svg {
            margin-right: 4%;
        }

    }
}

.accentColor {
    position: absolute;
    
    left: 5%;
    top: 20%;

    height: 60%;
    width: 5px;

    border-radius: 3px;

    background-color: $mainGray;
}
